/*a:not(.default):link    { color: #ffd401; }
a:not(.default):visited { color: #ffd401; }
a:not(.default):hover { text-decoration: none;}*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-size: 10px;
}

a:hover, a:visited, a:active {
  text-decoration: none;
}

header{
  position: fixed;
  width: 100%;
  z-index: 100000;
}

nav {
  height: 110px;
  background-color: none;
  transition: 2s;
}

nav img {
  height: 50%;
  margin-left: 35px;
  margin-top: 30px;
  display: inline-block;
  opacity: 1;
}

nav div {
  display: inline-block;
}

nav ul {
  display: inline-block;
  margin-right: 50px;
}

nav li {
  display: inline-block;
  margin-top: 40px;
}

nav li a {
  font-size: 1.6em;
  margin-left: 20px;
  color: #fff;
  opacity: 1;
}

nav li a:hover {
  color: #fff;
}

nav li span a {
  margin-left: 0;
}

div.jumbotron {
  background-image: url('/img/Project_Header_Image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-blend-mode: multiply;
  background-color: #666;
  margin: 0 auto;
}

figure {
  clear: both;
}

.topTriangle {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 50%;
  min-height: 40%;
  min-width: 50%;
  max-width: 100%;
}

.topTriangleText {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  margin-bottom: 70px;
  margin-right: 70px;
}

.topTriangleText h4 {
  font-size: 3.2rem;
}

.topTriangleText h2 {
  font-size: 4.8rem;
  color: #fff;
  width: 60%;
  float: right;
}

.AtAGlanceWholeArea {
  margin: 0 auto;
  /*min-height: 340px;*/
}

.containArticleText {
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
  min-height: 340px;
}

.containArticleText h3 {
  margin-top: 60px;
}

article {
  background-color: #F2F2F2;
  height: 100%;
}

aside {
  background-color: #f6f6f6;
  min-height: 350px;
  margin: 0 auto;
}

.specs {
  /*padding-top: 40px;*/
  margin: 0 auto;
  min-height: 350px;
}

.specs div {
  padding-left: 25px;
  padding-top: 30px;
}

/*.specs div:first-of-type{
  padding-top: 40px;
}*/

.borderTopYellow {
    position: relative;
    padding-top: 13px;
}

.borderTopYellow::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1;
    border-top: 2px solid #ffd400;
    content: "";
}

.borderBottomYellow {
    position: relative;
    padding-bottom: 13px;
}

.borderBottomYellow::after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 105%;
    height: 1;
    border-top: 2px solid #ffd400;
    content: "";
}

/*aside h4 {
  margin-top: 20px;
}
aside p {
  max-width: 25%;
}*/

figure {
  clear: both;
}

figure div {
  text-align: center;
}

.iPhoneImg img {
  width: 60%;
}

.iPadImg img {
  width: 40%;
}

.figAreaGray {
  background-color: #404042;
}

.figAreaWhite {
  background-color: #fff;
}

.figAreaRed {
  background-color: #BC3134;
}

section {
  max-width: 100%;
}
/*
.triArea {
  background-image: linear-gradient(to left, #f1eff0, #f6f6f6, #fafafa, #f8f8f8, #f8f8f8, #f8f8f8);
}*/

.sectionTriangleBotArea {
  height: auto;
}

.sectionTriangle {
  position: relative;
  width: 91.5%;
  z-index: 10;
  height: 26%;
}

section h3 {
  position: absolute;
  margin-left: 130px;
  margin-top: -350px;
  left: 0;
  z-index: 100;
  color: #fff;
  width: 60%;
  font-weight: 100;
  line-height: 1.5;
  font-size: 32px;
}

/*.triArea{
  background-image: url("/img/Computer_filler.png");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 1750px;
  background-size: contain;
}*/

/*.triArea img {
  width: 100%;
}*/

.sectionBotImg {
  position: relative;
  bottom: 0;
  /*left: 0;*/
  width: 100%;
  z-index: 1;
  margin-top: -30px;
  /*margin-top: -492px;*/
}

.endorse {
  position: absolute;
  text-align: right;
  z-index: 100;
  padding: 0;
  right: 0;
  margin-top: -225px;
  margin-right: 10%;
}

.HOLDER div {
  padding: 0;
}

.HOLDERtext {
  margin: 100px auto 0 auto;
  max-width: 60%;
}

.HOLDER button {
  background-color: #ffd400;
  color: #fff;
  font-size: 20px;
  padding: 20px 30px;
  margin-top: 20px;
  box-shadow: 0 0 0;
  border: 0;
}

.HOLDERimg {
  text-align: center;
}

.HOLDERimg img {
  max-width: 80%;
  margin: 0 auto;
}

.BandN {
  text-align: center;
  margin: 50px auto;
  font-size: 30px;
  color: #333;
}

.BandN p a{
  display: inline;
  font-size: 24px;
  color: #333;
}

.footImg {
  max-width: 100%;
  clear: both;
  margin-bottom: -1px;
  margin-top: 30px;
}

footer {
  background-color: #333333;
  color: #fff;
  min-height: 150px;
  margin: 0;
  margin-bottom: -10px;
  padding: 20px 0 0 35px;
}

.footNav a {
  color: #ffd400;
  padding-right: 20px;
  display: inline-block;
}

.address {
  margin-bottom: 15px;
  margin-top: -15px;
}

.address h5 {
  color: #ffd400;
  margin: 0;
}

.address p {
  margin: 0;
}

.socialMedia img {
  height: 35px;
  width: 35px;
  border: 0;
  margin-right: 18px;
}








.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}



.desktopOnly {
  visibility: visible;
  display: inline-block;
}

.mobileOnly {
  visibility: hidden;
  display: none;
}

@media (max-width:767px) {
  div.jumbotron {
    height: 50vh;
  }
  .topTriangle {
    position: absolute;
    bottom: 367px;
    min-height: 22.5%;
  }
}

@media (max-width:767px) {
  .mobileOnly {
    visibility: visible;
    display: inline-block;
  }
  .desktopOnly {
    visibility: hidden;
    display: none;
  }
  footer {
    height: 250px;
  }
}

@media (min-width: 768px) {
  .pull-right-sm {
      float: right;
  }
  .align-right-sm {
    text-align: right;
  }
}
