div.jumbotron {
  background-image: url('/img/Project_Header_Image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-blend-mode: multiply;
  background-color: #666;
  margin: 0 auto;
}

figure {
  clear: both;
}

.topTriangle {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 75%;
}

.topTriangleText {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  margin-bottom: 70px;
  margin-right: 70px;
}

.topTriangleText h4 {
  font-size: 32px;
}

.topTriangleText h2 {
  font-size: 48px;
  color: #fff;
  width: 60%;
  float: right;
}

.AtAGlanceWholeArea {
  margin: 0 auto;
  /*min-height: 340px;*/
}

.containArticleText {
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
  min-height: 340px;
}

.containArticleText h3 {
  margin-top: 60px;
}

article {
  background-color: #F2F2F2;
  height: 100%;
}

aside {
  background-color: #f6f6f6;
  min-height: 350px;
  margin: 0 auto;
}

.specs {
  /*padding-top: 40px;*/
  margin: 0 auto;
  min-height: 350px;
}

.specs div {
  padding-left: 25px;
  padding-top: 30px;
}

/*.specs div:first-of-type{
  padding-top: 40px;
}*/

.borderTopYellow {
    position: relative;
    padding-top: 13px;
}

.borderTopYellow::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1;
    border-top: 2px solid #ffd400;
    content: "";
}

/*aside h4 {
  margin-top: 20px;
}
aside p {
  max-width: 25%;
}*/

figure {
  clear: both;
}

figure div {
  text-align: center;
}

.iPhoneImg img {
  width: 60%;
}

.iPadImg img {
  width: 40%;
}

.figAreaGray {
  background-color: #404042;
}

.figAreaWhite {
  background-color: #fff;
}

.figAreaRed {
  background-color: #BC3134;
}

section {
  max-width: 100%;
}

.triArea {
  background-image: linear-gradient(to left, #f1eff0, #f6f6f6, #fafafa, #f8f8f8, #f8f8f8, #f8f8f8);
}

.sectionTriangle {
  position: relative;
  width: 91.5%;
  z-index: 10;
  height: 26%;
}

section h3 {
  position: absolute;
  margin-left: 130px;
  margin-top: -350px;
  left: 0;
  z-index: 100;
  color: #fff;
  width: 60%;
  font-weight: 100;
  line-height: 1.5;
  font-size: 32px;
}

/*.sectionTriangleBotArea{
  background-image: url("/img/Computer_filler.png");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 1750px;
  background-size: contain;
}*/

.sectionBotImg {
  position: relative;
  /*bottom: 0;*/
  left: 0;
  width: 100%;
  z-index: -1;
}

.endorse {
  position: absolute;
  text-align: right;
  z-index: 100;
  padding: 0;
  right: 0;
  margin-top: -225px;
  margin-right: 10%;
}

.HOLDER div {
  padding: 0;
}

.HOLDERtext {
  margin: 100px auto 0 auto;
  max-width: 60%;
}

.HOLDERimg img {
  max-width: 40%;
  margin: 0 auto;
  float: right;
}

footer {
  background-color: #333333;
  color: #fff;
  min-height: 250px;
}









.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}







@media (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }
    .align-right-sm {
      text-align: right;
    }
}


a:not(.default):link    { color: #ffd401; }
a:not(.default):visited { color: #ffd401; }
a:not(.default):hover { text-decoration: none;}
